.default-color {
    background-color: #0066CC !important;
  }

.default-color-text {
  color: #0066CC !important;
}

  input:not([type]),
  input[type=text]:not(.browser-default),
  input[type=password]:not(.browser-default),
  input[type=email]:not(.browser-default),
  input[type=url]:not(.browser-default),
  input[type=time]:not(.browser-default),
  input[type=date]:not(.browser-default),
  input[type=datetime]:not(.browser-default),
  input[type=datetime-local]:not(.browser-default),
  input[type=tel]:not(.browser-default),
  input[type=number]:not(.browser-default),
  input[type=search]:not(.browser-default),
  textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #0066CC;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
  }
  
  input:not([type]):disabled, input:not([type])[readonly="readonly"],
  input[type=text]:not(.browser-default):disabled,
  input[type=text]:not(.browser-default)[readonly="readonly"],
  input[type=password]:not(.browser-default):disabled,
  input[type=password]:not(.browser-default)[readonly="readonly"],
  input[type=email]:not(.browser-default):disabled,
  input[type=email]:not(.browser-default)[readonly="readonly"],
  input[type=url]:not(.browser-default):disabled,
  input[type=url]:not(.browser-default)[readonly="readonly"],
  input[type=time]:not(.browser-default):disabled,
  input[type=time]:not(.browser-default)[readonly="readonly"],
  input[type=date]:not(.browser-default):disabled,
  input[type=date]:not(.browser-default)[readonly="readonly"],
  input[type=datetime]:not(.browser-default):disabled,
  input[type=datetime]:not(.browser-default)[readonly="readonly"],
  input[type=datetime-local]:not(.browser-default):disabled,
  input[type=datetime-local]:not(.browser-default)[readonly="readonly"],
  input[type=tel]:not(.browser-default):disabled,
  input[type=tel]:not(.browser-default)[readonly="readonly"],
  input[type=number]:not(.browser-default):disabled,
  input[type=number]:not(.browser-default)[readonly="readonly"],
  input[type=search]:not(.browser-default):disabled,
  input[type=search]:not(.browser-default)[readonly="readonly"],
  textarea.materialize-textarea:disabled,
  textarea.materialize-textarea[readonly="readonly"] {
    color: rgba(0, 0, 0, 0.42);
    border-bottom: 1px dotted rgba(0, 0, 0, 0.42);
  }
  
  input:not([type]):disabled + label,
  input:not([type])[readonly="readonly"] + label,
  input[type=text]:not(.browser-default):disabled + label,
  input[type=text]:not(.browser-default)[readonly="readonly"] + label,
  input[type=password]:not(.browser-default):disabled + label,
  input[type=password]:not(.browser-default)[readonly="readonly"] + label,
  input[type=email]:not(.browser-default):disabled + label,
  input[type=email]:not(.browser-default)[readonly="readonly"] + label,
  input[type=url]:not(.browser-default):disabled + label,
  input[type=url]:not(.browser-default)[readonly="readonly"] + label,
  input[type=time]:not(.browser-default):disabled + label,
  input[type=time]:not(.browser-default)[readonly="readonly"] + label,
  input[type=date]:not(.browser-default):disabled + label,
  input[type=date]:not(.browser-default)[readonly="readonly"] + label,
  input[type=datetime]:not(.browser-default):disabled + label,
  input[type=datetime]:not(.browser-default)[readonly="readonly"] + label,
  input[type=datetime-local]:not(.browser-default):disabled + label,
  input[type=datetime-local]:not(.browser-default)[readonly="readonly"] + label,
  input[type=tel]:not(.browser-default):disabled + label,
  input[type=tel]:not(.browser-default)[readonly="readonly"] + label,
  input[type=number]:not(.browser-default):disabled + label,
  input[type=number]:not(.browser-default)[readonly="readonly"] + label,
  input[type=search]:not(.browser-default):disabled + label,
  input[type=search]:not(.browser-default)[readonly="readonly"] + label,
  textarea.materialize-textarea:disabled + label,
  textarea.materialize-textarea[readonly="readonly"] + label {
    color: rgba(0, 0, 0, 0.42);
  }
  
  input:not([type]):focus:not([readonly]),
  input[type=text]:not(.browser-default):focus:not([readonly]),
  input[type=password]:not(.browser-default):focus:not([readonly]),
  input[type=email]:not(.browser-default):focus:not([readonly]),
  input[type=url]:not(.browser-default):focus:not([readonly]),
  input[type=time]:not(.browser-default):focus:not([readonly]),
  input[type=date]:not(.browser-default):focus:not([readonly]),
  input[type=datetime]:not(.browser-default):focus:not([readonly]),
  input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
  input[type=tel]:not(.browser-default):focus:not([readonly]),
  input[type=number]:not(.browser-default):focus:not([readonly]),
  input[type=search]:not(.browser-default):focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0066CC;
    -webkit-box-shadow: 0 1px 0 0 #0066CC;
            box-shadow: 0 1px 0 0 #0066CC;
  }
  
  input:not([type]):focus:not([readonly]) + label,
  input[type=text]:not(.browser-default):focus:not([readonly]) + label,
  input[type=password]:not(.browser-default):focus:not([readonly]) + label,
  input[type=email]:not(.browser-default):focus:not([readonly]) + label,
  input[type=url]:not(.browser-default):focus:not([readonly]) + label,
  input[type=time]:not(.browser-default):focus:not([readonly]) + label,
  input[type=date]:not(.browser-default):focus:not([readonly]) + label,
  input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
  input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
  input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
  input[type=number]:not(.browser-default):focus:not([readonly]) + label,
  input[type=search]:not(.browser-default):focus:not([readonly]) + label,
  textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #0066CC;
  }
  
  input:not([type]):focus.valid ~ label,
  input[type=text]:not(.browser-default):focus.valid ~ label,
  input[type=password]:not(.browser-default):focus.valid ~ label,
  input[type=email]:not(.browser-default):focus.valid ~ label,
  input[type=url]:not(.browser-default):focus.valid ~ label,
  input[type=time]:not(.browser-default):focus.valid ~ label,
  input[type=date]:not(.browser-default):focus.valid ~ label,
  input[type=datetime]:not(.browser-default):focus.valid ~ label,
  input[type=datetime-local]:not(.browser-default):focus.valid ~ label,
  input[type=tel]:not(.browser-default):focus.valid ~ label,
  input[type=number]:not(.browser-default):focus.valid ~ label,
  input[type=search]:not(.browser-default):focus.valid ~ label,
  textarea.materialize-textarea:focus.valid ~ label {
    color: #0066CC;
  }
  
  input:not([type]):focus.invalid ~ label,
  input[type=text]:not(.browser-default):focus.invalid ~ label,
  input[type=password]:not(.browser-default):focus.invalid ~ label,
  input[type=email]:not(.browser-default):focus.invalid ~ label,
  input[type=url]:not(.browser-default):focus.invalid ~ label,
  input[type=time]:not(.browser-default):focus.invalid ~ label,
  input[type=date]:not(.browser-default):focus.invalid ~ label,
  input[type=datetime]:not(.browser-default):focus.invalid ~ label,
  input[type=datetime-local]:not(.browser-default):focus.invalid ~ label,
  input[type=tel]:not(.browser-default):focus.invalid ~ label,
  input[type=number]:not(.browser-default):focus.invalid ~ label,
  input[type=search]:not(.browser-default):focus.invalid ~ label,
  textarea.materialize-textarea:focus.invalid ~ label {
    color: #0066CC;
  }
  
  input:not([type]).validate + label,
  input[type=text]:not(.browser-default).validate + label,
  input[type=password]:not(.browser-default).validate + label,
  input[type=email]:not(.browser-default).validate + label,
  input[type=url]:not(.browser-default).validate + label,
  input[type=time]:not(.browser-default).validate + label,
  input[type=date]:not(.browser-default).validate + label,
  input[type=datetime]:not(.browser-default).validate + label,
  input[type=datetime-local]:not(.browser-default).validate + label,
  input[type=tel]:not(.browser-default).validate + label,
  input[type=number]:not(.browser-default).validate + label,
  input[type=search]:not(.browser-default).validate + label,
  textarea.materialize-textarea.validate + label {
    width: 100%;
  }
  
  /* Validation Sass Placeholders */
  input.valid:not([type]), input.valid:not([type]):focus,
  input[type=text].valid:not(.browser-default),
  input[type=text].valid:not(.browser-default):focus,
  input[type=password].valid:not(.browser-default),
  input[type=password].valid:not(.browser-default):focus,
  input[type=email].valid:not(.browser-default),
  input[type=email].valid:not(.browser-default):focus,
  input[type=url].valid:not(.browser-default),
  input[type=url].valid:not(.browser-default):focus,
  input[type=time].valid:not(.browser-default),
  input[type=time].valid:not(.browser-default):focus,
  input[type=date].valid:not(.browser-default),
  input[type=date].valid:not(.browser-default):focus,
  input[type=datetime].valid:not(.browser-default),
  input[type=datetime].valid:not(.browser-default):focus,
  input[type=datetime-local].valid:not(.browser-default),
  input[type=datetime-local].valid:not(.browser-default):focus,
  input[type=tel].valid:not(.browser-default),
  input[type=tel].valid:not(.browser-default):focus,
  input[type=number].valid:not(.browser-default),
  input[type=number].valid:not(.browser-default):focus,
  input[type=search].valid:not(.browser-default),
  input[type=search].valid:not(.browser-default):focus,
  textarea.materialize-textarea.valid,
  textarea.materialize-textarea.valid:focus, .select-wrapper.valid > input.select-dropdown {
    border-bottom: 1px solid #0066CC;
    -webkit-box-shadow: 0 1px 0 0 #0066CC;
            box-shadow: 0 1px 0 0 #0066CC;
  }
  
  input.invalid:not([type]), input.invalid:not([type]):focus,
  input[type=text].invalid:not(.browser-default),
  input[type=text].invalid:not(.browser-default):focus,
  input[type=password].invalid:not(.browser-default),
  input[type=password].invalid:not(.browser-default):focus,
  input[type=email].invalid:not(.browser-default),
  input[type=email].invalid:not(.browser-default):focus,
  input[type=url].invalid:not(.browser-default),
  input[type=url].invalid:not(.browser-default):focus,
  input[type=time].invalid:not(.browser-default),
  input[type=time].invalid:not(.browser-default):focus,
  input[type=date].invalid:not(.browser-default),
  input[type=date].invalid:not(.browser-default):focus,
  input[type=datetime].invalid:not(.browser-default),
  input[type=datetime].invalid:not(.browser-default):focus,
  input[type=datetime-local].invalid:not(.browser-default),
  input[type=datetime-local].invalid:not(.browser-default):focus,
  input[type=tel].invalid:not(.browser-default),
  input[type=tel].invalid:not(.browser-default):focus,
  input[type=number].invalid:not(.browser-default),
  input[type=number].invalid:not(.browser-default):focus,
  input[type=search].invalid:not(.browser-default),
  input[type=search].invalid:not(.browser-default):focus,
  textarea.materialize-textarea.invalid,
  textarea.materialize-textarea.invalid:focus, .select-wrapper.invalid > input.select-dropdown,
  .select-wrapper.invalid > input.select-dropdown:focus {
    border-bottom: 1px solid #0066CC;
    -webkit-box-shadow: 0 1px 0 0 #0066CC;
            box-shadow: 0 1px 0 0 #0066CC;
  }
  
  input:not([type]).valid ~ .helper-text[data-success],
  input:not([type]):focus.valid ~ .helper-text[data-success],
  input:not([type]).invalid ~ .helper-text[data-error],
  input:not([type]):focus.invalid ~ .helper-text[data-error],
  input[type=text]:not(.browser-default).valid ~ .helper-text[data-success],
  input[type=text]:not(.browser-default):focus.valid ~ .helper-text[data-success],
  input[type=text]:not(.browser-default).invalid ~ .helper-text[data-error],
  input[type=text]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
  input[type=password]:not(.browser-default).valid ~ .helper-text[data-success],
  input[type=password]:not(.browser-default):focus.valid ~ .helper-text[data-success],
  input[type=password]:not(.browser-default).invalid ~ .helper-text[data-error],
  input[type=password]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
  input[type=email]:not(.browser-default).valid ~ .helper-text[data-success],
  input[type=email]:not(.browser-default):focus.valid ~ .helper-text[data-success],
  input[type=email]:not(.browser-default).invalid ~ .helper-text[data-error],
  input[type=email]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
  input[type=url]:not(.browser-default).valid ~ .helper-text[data-success],
  input[type=url]:not(.browser-default):focus.valid ~ .helper-text[data-success],
  input[type=url]:not(.browser-default).invalid ~ .helper-text[data-error],
  input[type=url]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
  input[type=time]:not(.browser-default).valid ~ .helper-text[data-success],
  input[type=time]:not(.browser-default):focus.valid ~ .helper-text[data-success],
  input[type=time]:not(.browser-default).invalid ~ .helper-text[data-error],
  input[type=time]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
  input[type=date]:not(.browser-default).valid ~ .helper-text[data-success],
  input[type=date]:not(.browser-default):focus.valid ~ .helper-text[data-success],
  input[type=date]:not(.browser-default).invalid ~ .helper-text[data-error],
  input[type=date]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
  input[type=datetime]:not(.browser-default).valid ~ .helper-text[data-success],
  input[type=datetime]:not(.browser-default):focus.valid ~ .helper-text[data-success],
  input[type=datetime]:not(.browser-default).invalid ~ .helper-text[data-error],
  input[type=datetime]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
  input[type=datetime-local]:not(.browser-default).valid ~ .helper-text[data-success],
  input[type=datetime-local]:not(.browser-default):focus.valid ~ .helper-text[data-success],
  input[type=datetime-local]:not(.browser-default).invalid ~ .helper-text[data-error],
  input[type=datetime-local]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
  input[type=tel]:not(.browser-default).valid ~ .helper-text[data-success],
  input[type=tel]:not(.browser-default):focus.valid ~ .helper-text[data-success],
  input[type=tel]:not(.browser-default).invalid ~ .helper-text[data-error],
  input[type=tel]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
  input[type=number]:not(.browser-default).valid ~ .helper-text[data-success],
  input[type=number]:not(.browser-default):focus.valid ~ .helper-text[data-success],
  input[type=number]:not(.browser-default).invalid ~ .helper-text[data-error],
  input[type=number]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
  input[type=search]:not(.browser-default).valid ~ .helper-text[data-success],
  input[type=search]:not(.browser-default):focus.valid ~ .helper-text[data-success],
  input[type=search]:not(.browser-default).invalid ~ .helper-text[data-error],
  input[type=search]:not(.browser-default):focus.invalid ~ .helper-text[data-error],
  textarea.materialize-textarea.valid ~ .helper-text[data-success],
  textarea.materialize-textarea:focus.valid ~ .helper-text[data-success],
  textarea.materialize-textarea.invalid ~ .helper-text[data-error],
  textarea.materialize-textarea:focus.invalid ~ .helper-text[data-error], .select-wrapper.valid .helper-text[data-success],
  .select-wrapper.invalid ~ .helper-text[data-error] {
    color: transparent;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
  }
  
  input:not([type]).valid ~ .helper-text:after,
  input:not([type]):focus.valid ~ .helper-text:after,
  input[type=text]:not(.browser-default).valid ~ .helper-text:after,
  input[type=text]:not(.browser-default):focus.valid ~ .helper-text:after,
  input[type=password]:not(.browser-default).valid ~ .helper-text:after,
  input[type=password]:not(.browser-default):focus.valid ~ .helper-text:after,
  input[type=email]:not(.browser-default).valid ~ .helper-text:after,
  input[type=email]:not(.browser-default):focus.valid ~ .helper-text:after,
  input[type=url]:not(.browser-default).valid ~ .helper-text:after,
  input[type=url]:not(.browser-default):focus.valid ~ .helper-text:after,
  input[type=time]:not(.browser-default).valid ~ .helper-text:after,
  input[type=time]:not(.browser-default):focus.valid ~ .helper-text:after,
  input[type=date]:not(.browser-default).valid ~ .helper-text:after,
  input[type=date]:not(.browser-default):focus.valid ~ .helper-text:after,
  input[type=datetime]:not(.browser-default).valid ~ .helper-text:after,
  input[type=datetime]:not(.browser-default):focus.valid ~ .helper-text:after,
  input[type=datetime-local]:not(.browser-default).valid ~ .helper-text:after,
  input[type=datetime-local]:not(.browser-default):focus.valid ~ .helper-text:after,
  input[type=tel]:not(.browser-default).valid ~ .helper-text:after,
  input[type=tel]:not(.browser-default):focus.valid ~ .helper-text:after,
  input[type=number]:not(.browser-default).valid ~ .helper-text:after,
  input[type=number]:not(.browser-default):focus.valid ~ .helper-text:after,
  input[type=search]:not(.browser-default).valid ~ .helper-text:after,
  input[type=search]:not(.browser-default):focus.valid ~ .helper-text:after,
  textarea.materialize-textarea.valid ~ .helper-text:after,
  textarea.materialize-textarea:focus.valid ~ .helper-text:after, .select-wrapper.valid ~ .helper-text:after {
    content: attr(data-success);
    color: #0066CC;
  }
  
  input:not([type]).invalid ~ .helper-text:after,
  input:not([type]):focus.invalid ~ .helper-text:after,
  input[type=text]:not(.browser-default).invalid ~ .helper-text:after,
  input[type=text]:not(.browser-default):focus.invalid ~ .helper-text:after,
  input[type=password]:not(.browser-default).invalid ~ .helper-text:after,
  input[type=password]:not(.browser-default):focus.invalid ~ .helper-text:after,
  input[type=email]:not(.browser-default).invalid ~ .helper-text:after,
  input[type=email]:not(.browser-default):focus.invalid ~ .helper-text:after,
  input[type=url]:not(.browser-default).invalid ~ .helper-text:after,
  input[type=url]:not(.browser-default):focus.invalid ~ .helper-text:after,
  input[type=time]:not(.browser-default).invalid ~ .helper-text:after,
  input[type=time]:not(.browser-default):focus.invalid ~ .helper-text:after,
  input[type=date]:not(.browser-default).invalid ~ .helper-text:after,
  input[type=date]:not(.browser-default):focus.invalid ~ .helper-text:after,
  input[type=datetime]:not(.browser-default).invalid ~ .helper-text:after,
  input[type=datetime]:not(.browser-default):focus.invalid ~ .helper-text:after,
  input[type=datetime-local]:not(.browser-default).invalid ~ .helper-text:after,
  input[type=datetime-local]:not(.browser-default):focus.invalid ~ .helper-text:after,
  input[type=tel]:not(.browser-default).invalid ~ .helper-text:after,
  input[type=tel]:not(.browser-default):focus.invalid ~ .helper-text:after,
  input[type=number]:not(.browser-default).invalid ~ .helper-text:after,
  input[type=number]:not(.browser-default):focus.invalid ~ .helper-text:after,
  input[type=search]:not(.browser-default).invalid ~ .helper-text:after,
  input[type=search]:not(.browser-default):focus.invalid ~ .helper-text:after,
  textarea.materialize-textarea.invalid ~ .helper-text:after,
  textarea.materialize-textarea:focus.invalid ~ .helper-text:after, .select-wrapper.invalid ~ .helper-text:after {
    content: attr(data-error);
    color: #0066CC;
  }
  
  input:not([type]) + label:after,
  input[type=text]:not(.browser-default) + label:after,
  input[type=password]:not(.browser-default) + label:after,
  input[type=email]:not(.browser-default) + label:after,
  input[type=url]:not(.browser-default) + label:after,
  input[type=time]:not(.browser-default) + label:after,
  input[type=date]:not(.browser-default) + label:after,
  input[type=datetime]:not(.browser-default) + label:after,
  input[type=datetime-local]:not(.browser-default) + label:after,
  input[type=tel]:not(.browser-default) + label:after,
  input[type=number]:not(.browser-default) + label:after,
  input[type=search]:not(.browser-default) + label:after,
  textarea.materialize-textarea + label:after, .select-wrapper + label:after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    -webkit-transition: .2s opacity ease-out, .2s color ease-out;
    transition: .2s opacity ease-out, .2s color ease-out;
  }

  .tabs {
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    height: 48px;
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    white-space: nowrap;
  }
  
  .tabs.tabs-transparent {
    background-color: transparent;
  }
  
  .tabs.tabs-transparent .tab a,
  .tabs.tabs-transparent .tab.disabled a,
  .tabs.tabs-transparent .tab.disabled a:hover {
    color:#0066CC;
  }
  
  .tabs.tabs-transparent .tab a:hover,
  .tabs.tabs-transparent .tab a.active {
    color: #fff;
  }
  
  .tabs.tabs-transparent .indicator {
    background-color: #fff;
  }

  .tabs .tab a {
    color: rgba(238, 110, 115, 0.7);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease, background-color .28s ease;
    transition: color .28s ease, background-color .28s ease;
  }
  
  .tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #0066cc35;
    outline: none;
  }
  
  .tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #0066CC;
  }
  
  .tabs .tab.disabled a,
  .tabs .tab.disabled a:hover {
    color: #0066CC;
    cursor: default;
  }

  .tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #0066CC;
    will-change: left, right;
  }

  .btn, .btn-large, .btn-small {
    text-decoration: none;
    color: #fff;
    background-color: #0066CC;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
  }
  .btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #0176ea;
  }

  .datepicker-date-display {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
        -ms-flex: 1 auto;
            flex: 1 auto;
    background-color: #0066CC;
    color: #fff;
    padding: 20px 22px;
    font-weight: 500;
  }

  .datepicker-cancel,
.datepicker-clear,
.datepicker-today,
.datepicker-done {
  color: #0066CC;
  padding: 0 1rem;
}
.datepicker-table td.is-today {
  color: #0066CC;
}

.datepicker-table td.is-selected {
  background-color: #0066CC;
  color: #fff;
}


.sidenav .user-view .circle {
  height: 100px;
  width: 100px;
}

.mod{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.center-image{
  display: flex;
  justify-content: center;
}
.mod-a{
  display: flex;
}
.annunci-info{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid #bbbbbb;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 650px;
  background-color: #0066CC;
  border-radius: 10px;
  box-shadow: 0 40px 40px -30px rgb(0 0 0 / 27%);
  flex-direction: column;
}
.annuncio{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  margin-bottom: 5%;
  border-radius: 10px;
}
.annunci{
  width: 90%;
}
.barra{
  width: 90%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.keyword{
  height: 100%!important;
}
.bot{
  background-color: transparent;
  border-color: transparent;
}

.section-main{
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.prova{
  width: 100%!important;
}

.min{
  min-height: 530px;
}

.min-annuncio{
  min-height: 200px;
}

.mrgin{
  margin-left: 3%;
}